# Ahmed Mohamed Elkholy

# Step 0

### Importing Libraries

In [1]:
import pandas as pd
import numpy as np

### Reading Excel file, dropping first two columns, and renaming columns, and replacing dots with null values

In [2]:
energy = pd.read_excel("data\Energy Indicators.xls", 
                   header=  17,
                   skipfooter = 38,
                   usecols = "C:F",
                   na_values= "...",
                   names = ["Country", "Energy Supply", "Energy Supply per Capita", "% Renewable"]
                      )

### Cleaning data, converting petajules to Gigajoules and changing countries names

In [3]:
energy['Country'] = energy['Country'].str.replace(r'\s*\(.*\)','', regex = True)
energy['Country'] = energy['Country'].str.replace('\d+', '', regex = True)
energy["Country"].replace({"Republic of Korea": "South Korea",
            "United States of America": "United States",
            "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
            "China, Hong Kong Special Administrative Region": "Hong Kong"},
            inplace = True)
energy["Energy Supply"] = energy["Energy Supply"] * 1000000

In [4]:
energy.loc[energy['Country'] == 'Iran']

   Country  Energy Supply  Energy Supply per Capita  % Renewable
98    Iran   9.172000e+09                     119.0     5.707721

# Step 1

### Reading csv file, cleaning data, and renaming country names

In [5]:
GDP = pd.read_csv ('data/world_bank.csv', skiprows = 4)
GDP.rename(columns={'Country Name': 'Country'}, inplace=True)
GDP['Country'] = GDP['Country'].str.replace(r'\s*\(.*\)','', regex = True)
GDP['Country'] = GDP['Country'].str.replace('\d+', "", regex = True)
GDP['Country'].replace({"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"}, inplace = True)

# Step 2

### Importing and cleaning the data

In [6]:
ScimEn = pd.read_excel ('data/scimagojr-3.xlsx')
ScimEn['Country'] = ScimEn['Country'].str.replace(r'\s*\(.*\)','', regex = True)
ScimEn['Country'] = ScimEn['Country'].str.replace('\d+', "", regex = True)

# Step 3

In [33]:
df = pd.merge(pd.merge(energy, GDP, on='Country'), ScimEn, on='Country')
df.set_index('Country',inplace=True)
df = df[['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
df.sort_values('Rank', inplace = True)
df2 = df[df['Rank'] <= 15]

In [34]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, China to Brazil
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Rank                      15 non-null     int64
 1   Documents                 15 non-null     int64
 2   Citable documents         15 non-null     int64
 3   Citations                 15 non-null     int64
 4   Self-citations            15 non-null     int64
 5   Citations per document    15 non-null     float64
 6   H index                   15 non-null     int64
 7   Energy Supply             15 non-null     float64
 8   Energy Supply per Capita  15 non-null     float64
 9   % Renewable               15 non-null     float64
 10  2006                      15 non-null     float64
 11  2007                      15 non-null     float64
 12  2008                      15 non-null     float64
 13  2009                      15 non-null     float64
 14  2010                      15 non-null     float64
 15  2011                      15 non-null     float64
 16  2012                      15 non-null     float64
 17  2013                      15 non-null     float64
 18  2014                      15 non-null     float64
 19  2015                      14 non-null     float64
dtypes: float64(14), int64(6)
memory usage: 2.5+ KB

# Step 4

In [35]:
print(df.shape[0] - df2.shape[0])

147

# Step 5

In [54]:
avgGDP = df2.iloc[:,10:].T.mean(skipna = True) 
avgGDP.head(10)

Country
China                 6.348609e+12
United States         1.536434e+13
Japan                 5.542208e+12
United Kingdom        2.487907e+12
Russian Federation    1.565459e+12
Canada                1.660647e+12
Germany               3.493025e+12
India                 1.769297e+12
France                2.681725e+12
South Korea           1.106715e+12
dtype: float64

# Step  6

In [55]:
print(df2['Energy Supply per Capita'].mean(skipna = True))

157.6

# Step 7

In [85]:
Maxtuple = (df2["% Renewable"].idxmax(), df2["% Renewable"].max())
print(Maxtuple, '\n' , type(Maxtuple))

('Brazil', 69.64803)
 <class 'tuple'>

# Step 8

In [95]:
ratio = df2["Citations"] / df2["Self-citations"]
ratioTuple = (ratio.idxmax(), ratio.max())
print(ratioTuple, '\n' , type(ratioTuple))

('Australia', 5.816032295271049)
 <class 'tuple'>

In [96]:
df2.head()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.75491,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.57098,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.23282,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.60047,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.28868,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12

# Step 9

In [119]:
HighRenew = (df2["% Renewable"].gt(df2["% Renewable"].mean())).astype(int)
print(HighRenew)

Country
China                 0
United States         0
Japan                 0
United Kingdom        0
Russian Federation    0
Canada                1
Germany               0
India                 0
France                0
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: % Renewable, dtype: int32

# Step 10

In [141]:
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
estimate_pop = df2['Energy Supply'] / df2['Energy Supply per Capita']
final = estimate_pop.groupby(ContinentDict).agg(["size", "sum", "mean", "std"])
final

               size           sum          mean           std
Country
Asia              5  2.898666e+09  5.797333e+08  6.790979e+08
Australia         1  2.331602e+07  2.331602e+07           NaN
Europe            6  4.579297e+08  7.632161e+07  3.464767e+07
North America     2  3.528552e+08  1.764276e+08  1.996696e+08
South America     1  2.059153e+08  2.059153e+08           NaN

![Tired](Tired.jpg)